In [1]:
import streamlit as st
import numpy as np
import pandas as pd

In [2]:
df= pd.read_csv('sentiment_train.csv')

In [3]:
df.sample(5)

                                               Sentence  Polarity
2014  This is a very "right on case" movie that deli...         1
455   The chicken wings contained the driest chicken...         0
699   Anyways, The food was definitely not filling a...         0
1891  Fits comfortably, came with three sizes of ear...         1
1485                                  A Disappointment.         0

In [4]:
df.shape

(2400, 2)

In [5]:
df.isnull().sum()

Sentence    0
Polarity    0
dtype: int64

In [6]:
df.rename(columns={'Sentence':'text','Polarity':'target'},inplace=True)

In [7]:
df.head()

                                                text  target
0                           Wow... Loved this place.       1
1                                 Crust is not good.       0
2          Not tasty and the texture was just nasty.       0
3  Stopped by during the late May bank holiday of...       1
4  The selection on the menu was great and so wer...       1

In [8]:
df.duplicated().sum()

17

In [9]:
df = df.drop_duplicates(keep='first')

In [10]:
df.duplicated().sum()

0

In [11]:
df.shape

(2383, 2)

In [12]:
df['target'].value_counts()

target
0    1206
1    1177
Name: count, dtype: int64

In [13]:
!pip install nltk

Requirement already satisfied: nltk in /Users/ganeshchaitanya/anaconda3/lib/python3.11/site-packages (3.8.1)
Requirement already satisfied: click in /Users/ganeshchaitanya/anaconda3/lib/python3.11/site-packages (from nltk) (8.0.4)
Requirement already satisfied: joblib in /Users/ganeshchaitanya/anaconda3/lib/python3.11/site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in /Users/ganeshchaitanya/anaconda3/lib/python3.11/site-packages (from nltk) (2022.7.9)
Requirement already satisfied: tqdm in /Users/ganeshchaitanya/anaconda3/lib/python3.11/site-packages (from nltk) (4.65.0)

In [14]:
import nltk

In [15]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/ganeshchaitanya/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [16]:
test= pd.read_csv('sentiment_test.csv')

In [17]:
test.sample(5)

                                              Sentence  Polarity
461  The result is a powerhouse achievement, made m...         1
315  Im big fan of RPG games too, but this movie, i...         0
378  The result is a film that just don't look righ...         0
486                      Avoid at any and all costs.           0
405  The only place good for this film is in the ga...         0

In [18]:
test.shape

(600, 2)

In [19]:
#check for missing values
test.isnull().sum()

Sentence    0
Polarity    0
dtype: int64

In [20]:

test.rename(columns={'Sentence':'text','Polarity':'target'},inplace=True)

In [21]:
test.head()

                                                text  target
0  A good commentary of today's love and undoubte...       1
1  For people who are first timers in film making...       1
2  It was very popular when I was in the cinema, ...       1
3  It's a feel-good film and that's how I felt wh...       1
4  It has northern humour and positive about the ...       1

In [22]:

test.duplicated().sum()

1

In [23]:

test = test.drop_duplicates(keep='first')

In [24]:
test.duplicated().sum()

0

In [25]:
test.shape

(599, 2)

In [26]:
test.head()

                                                text  target
0  A good commentary of today's love and undoubte...       1
1  For people who are first timers in film making...       1
2  It was very popular when I was in the cinema, ...       1
3  It's a feel-good film and that's how I felt wh...       1
4  It has northern humour and positive about the ...       1

In [27]:
test['target'].value_counts()

target
1    313
0    286
Name: count, dtype: int64

In [28]:

from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/ganeshchaitanya/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [29]:
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [30]:
#import string
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [31]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()
ps.stem('roaming')

'roam'

In [32]:
def transform_text(text):
    text = text.lower()
    text = nltk.word_tokenize(text)
    
    y = []
    for i in text:
        if i.isalnum():
            y.append(i)
    
    text = y[:]
    y.clear()
    
    for i in text:
        if i not in stopwords.words('english') and i not in string.punctuation:
            y.append(i)
            
    text = y[:]
    y.clear()
    
    for i in text:
        y.append(ps.stem(i))
    
            
    return " ".join(y)

In [33]:
transform_text('Hi how are you Pranav?')

'hi pranav'

In [34]:
# applying the text transformation to our training data
df['text'].apply(transform_text)

0                                          wow love place
1                                              crust good
2                                      tasti textur nasti
3       stop late may bank holiday rick steve recommen...
4                                 select menu great price
                              ...
2395                          almost song cover girl tune
2396        annoy thing girl way rita hayworth put pedest
2397    unfortun girl exampl hollywood use exploit wom...
2398    narrat thu mani flashback everi part articul q...
2399    good cinematographi also make monica bellucci ...
Name: text, Length: 2383, dtype: object

In [35]:
df['transform_text'] = df['text'].apply(transform_text)

In [36]:
df.head()

,text,target,transform_text
0,Wow... Loved this place.,1,wow love place
1,Crust is not good.,0,crust good
2,Not tasty and the texture was just nasty.,0,tasti textur nasti
3,Stopped by during the late May bank holiday of...,1,stop late may bank holiday rick steve recommen...
4,The selection on the menu was great and so wer...,1,select menu great price

In [37]:
# applying the text transformation to our testing data
test['transform_text'] = test['text'].apply(transform_text)

In [38]:
test.head()

,text,target,transform_text
0,A good commentary of today's love and undoubte...,1,good commentari today love undoubtedli film wo...
1,For people who are first timers in film making...,1,peopl first timer film make think excel job
2,"It was very popular when I was in the cinema, ...",1,popular cinema good hous good reaction plenti ...
3,It's a feel-good film and that's how I felt wh...,1,film felt came cinema
4,It has northern humour and positive about the ...,1,northern humour posit commun repres

In [39]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()

In [40]:
X_train = cv.fit_transform(df['transform_text']).toarray()
X_test = cv.transform(test['transform_text']).toarray()

In [41]:
X_train.shape

(2383, 3005)

In [42]:
y_train=df['target'].values

In [43]:
y_train.shape

(2383,)

In [44]:
X_test.shape

(599, 3005)

In [45]:
y_test=test['target'].values

In [46]:
y_test.shape

(599,)

In [47]:
from sklearn.naive_bayes import GaussianNB,MultinomialNB
from sklearn.metrics import accuracy_score

In [48]:
gnb = GaussianNB()

In [49]:
# Gaussian NB model accuracy, precision, f1, roc_auc_score

gnb.fit(X_train,y_train)
y_pred1 = gnb.predict(X_test)
print('Accuracy ',accuracy_score(y_test,y_pred1))
print(y_pred1)
#

Accuracy  0.669449081803005
[1 1 1 1 1 1 1 1 1 0 0 1 0 1 1 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 1 0
 0 1 0 1 1 0 0 0 0 0 0 0 1 1 1 0 1 1 0 0 0 1 1 0 1 0 0 0 0 0 1 1 0 1 1 0 0
 0 0 0 1 0 0 1 0 1 0 1 1 1 0 0 1 1 1 1 1 0 1 1 1 0 0 1 1 1 1 1 1 0 0 1 0 0
 1 1 1 0 0 1 0 0 0 1 0 1 0 1 1 0 1 1 1 0 1 1 1 0 0 1 0 0 1 1 0 0 1 1 1 1 1
 1 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 1 1 0 0 0 0 0 1 0 1 0 1 0 0 1 1 0 1 0 1
 1 0 0 0 1 0 0 1 0 0 1 1 0 1 0 0 0 0 1 0 1 1 1 0 1 1 0 1 1 1 1 1 1 1 0 0 1
 1 0 0 1 1 1 1 1 1 1 0 0 1 0 1 1 0 1 1 0 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 0 1
 1 1 1 1 0 0 1 1 0 1 1 1 0 1 0 0 1 1 1 1 1 0 1 1 0 1 1 1 0 0 1 1 1 1 0 1 0
 0 0 0 0 1 0 0 1 1 1 1 1 0 1 0 1 1 1 1 1 1 0 1 1 0 1 1 1 0 0 1 1 0 1 1 1 1
 1 1 1 1 1 0 1 1 1 1 1 0 0 1 0 1 1 1 1 1 1 1 0 1 1 1 0 1 0 0 1 1 0 1 0 1 1
 0 0 0 1 1 1 1 1 1 1 1 1 0 1 0 1 0 1 1 1 1 1 0 0 1 1 1 0 0 1 1 1 0 0 0 1 1
 0 1 1 1 1 1 1 1 1 1 1 0 1 1 1 0 1 0 0 1 1 0 0 1 1 1 1 0 0 1 1 0 1 0 0 0 1
 1 1 0 0 0 1 0 1 0 0 0 0 0 1 1 0 0 1 1 1 1 1 1 0 0 0 0 1 0 0 0 1 1 1 0 0 0
 0 0 1 0 1 0 1 1 0 0 0 1 0 0 1 1 1 0 1 1 1 1 0 0 0 0 0 0 0 1 0 0 1 1 1 1 0
 0 1 0 0 0 1 1 1 1 1 1 1 0 1 1 0 1 1 1 1 1 1 1 1 0 1 0 1 0 1 1 1 0 1 0 0 0
 0 1 1 1 0 1 0 0 1 1 0 0 1 0 0 0 0 0 0 1 1 0 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1
 1 1 0 0 0 0 0]

In [ ]:
inp=input()
k=[inp]
print(k)
output=cv.transform(k).toarray()
out=gnb.predict(output)
print(out)
if out[0]==1:
    print('Positive')
else:
    print('Negative')

In [ ]:
mnb = MultinomialNB()

In [52]:
mnb.fit(X_train,y_train)
y_pred2 = mnb.predict(X_test)
print(accuracy_score(y_test,y_pred2))
print(y_pred2)
#

0.7746243739565943
[1 1 1 1 1 1 0 0 1 1 0 1 0 1 1 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 1 0
 0 0 0 1 0 0 0 0 0 0 1 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0
 0 0 0 1 0 0 1 1 1 0 1 0 0 0 0 1 1 1 0 1 0 1 1 1 1 0 1 0 1 1 1 0 0 0 0 0 0
 1 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 1 1 1 0 0 0 0 0 1 1 0 0 1 1 1 0 0
 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 1 0 1 0 0 0 0 0 0 1 1 0 1 1 0
 0 0 0 0 0 0 1 0 1 0 1 0 0 0 1 0 0 0 1 0 0 0 1 0 0 1 0 0 0 1 0 1 1 1 1 0 1
 1 0 0 0 1 1 1 1 1 1 0 0 1 1 1 1 1 1 1 0 1 1 0 0 0 1 0 0 1 1 1 1 1 1 0 0 1
 1 1 1 1 0 0 1 1 0 0 1 0 1 0 0 0 0 0 1 0 1 0 1 1 0 0 1 1 0 0 1 1 1 0 0 1 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 1 1 1 1 0 0 0 1 0 0 0 0 0 1 1 1 1 1 0 1 1
 0 0 1 0 0 0 1 1 1 1 1 0 0 1 0 0 0 1 1 1 1 1 1 1 0 0 1 1 0 0 1 1 0 1 0 1 1
 1 0 1 1 0 1 1 1 0 0 1 1 0 1 1 1 0 0 1 0 1 1 1 0 1 1 1 1 0 0 0 0 0 0 1 0 1
 0 1 0 1 1 1 1 0 1 0 1 0 1 1 1 0 1 1 0 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 1
 1 1 0 0 0 1 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0 0 0 0 1 0 0 0 1 1 1 0 0 0
 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 1 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 1 1 0
 0 0 0 0 0 0 1 1 0 1 0 0 1 1 1 0 0 0 1 1 1 1 1 1 0 0 0 1 0 1 1 1 1 1 0 0 0
 0 1 1 1 0 0 0 0 1 1 0 1 1 1 0 1 0 0 0 1 1 0 1 1 1 0 0 1 1 1 1 1 1 0 1 1 1
 1 0 0 0 0 0 0]

In [ ]:
inp1=input()
k1=[inp]
print(k1)
output1=cv.transform(k1).toarray()
out1=mnb.predict(output)
print(out1)
if out1[0]==1:
    print('Positive')
else:
    print('Negative')